html {
    font-family: 'Oxygen', sans-serif;
}

.navbar-wrapper {
    display: flex;
    background-color: rgb(102, 82, 73);
    align-items: center;
    height: 83px;
}

.logo-wrapper > .logo img {
    height: 80px;
    margin-right: 2em;
}

.link1-wrapper {
    padding: 10px;
    font-size: 30px;
    background-color: #3a2a2a;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 5px 0 darkred;
    height: 60px;
}

.link1-wrapper:hover {
    background-color: #504b4b;
    box-shadow: 0 5px 0 rgb(150, 111, 111);
}

.link1-wrapper > .link1 a {
    text-decoration: none;
    color: white;
}    

.link2-wrapper {
    padding: 10px;
    font-size: 30px;
    background-color: #3a2a2a;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 5px 0 darkred;
    height: 60px;
}
.link2-wrapper:hover {
    background-color: #504b4b;
    box-shadow: 0 5px 0 rgb(150, 111, 111);
}

.link2-wrapper > .link2 a {
    text-decoration: none;
    color: white;
}

.link3-wrapper {
    margin-left: 1200px;
    padding: 10px;
    font-size: 30px;
    background-color: #3a2a2a;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 5px 0 darkred;
    height: 60px;
}

.link3-wrapper:hover {
    box-shadow: 0 5px 0 rgb(150, 111, 111);
    background-color: #504b4b;
}

.link3-wrapper > .link3 {
    justify-content: flex-end;
}

.link3-wrapper > .link3 a {
    text-decoration: none;
    color: white;
}